/** Design and Developed By Mihir Sojitra **/
:root {
 --grayBg: #e9e9e9;
 --text-color: #595959;
 --black: #000000;
 --white: #ffffff;
 --textShadow: #a4a4a4;
 --latestWorks_boxLayer: #1c1d25;
 --tags: #8d8d8d;
 --hoverText: #0897fd;
 --filter: hue-rotate(0deg);
}

/*html {
  background-color: var(--grayBg);
}
body{
    color: var(--black);
}*/

.themeChangeBtn {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 27px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 9;
}
.themeChangeBtn img{
    filter: var(--filter);
}


html{background:var(--grayBg); /*#dddddd;*/ /*#0c0c0c;*/ overflow-y:auto; -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:16px;line-height:1.4; box-sizing: border-box;}
body{font-family: 'League Spartan'; overflow-x:hidden; box-sizing: border-box;color:var(--text-color);}
body{font-family: 'Kaushan Script', cursive; overflow-x:hidden; box-sizing: border-box;}
*{margin:0;padding:0; box-sizing: border-box;}
/*#333F63*/
 /* Critical CSS */
#introAnim1,#introAnim2,#introAnim3,nav ul li{opacity:0}

.sec{width:100%;position:relative;z-index:1}
.fl_w100{float: left; width: 100%;}
.hide{display: none;}
/** Page Loader CSS **/
#introAnim{width:100%; height:100%; position:fixed; z-index:9999; display: flex; align-items: center; justify-content: center; text-align: center;background: var(--white);}
.no-script #introAnim,.no-svg #introAnim{display:none}
#MSLogo2 line, #MSLogo2 polygon{fill:none;stroke:#cccccc;stroke-width:5;stroke-miterlimit:10}
.preloader .progress_text {
    color: #8d8d8d;
    margin-top: 25px;
    font-size: 9px;
    /*font-family: "Open Sans",sans-serif;*/
    letter-spacing: 3px;
    margin-bottom: 13px;
    display: block;
}
.preloader .progress-bar {
    text-align: left;
}
.preloader .progress-bar_bg {
    height: 2px;
    background: var(--white);
}
.preloader .progress-bar_bg div {
    height: 2px;
    /*background: #cccccc;*/
    /*background: #ffffff;*/
/*    background: -webkit-linear-gradient(left,#ffffff 0%,#cccccc 100%);
    background: -webkit-gradient(linear,left top,right top,from(#ffffff),to(#cccccc));
    background: -o-linear-gradient(left,#08fdd8 0%,#fd2155 100%);
    background: linear-gradient(to right,#ffffff 0%,#cccccc 100%);*/
    width: 0;
    animation: loader 2s infinite;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
@keyframes loader {
  0% {
    width: 0;
     background: var(--white);
     /*height: 2px;*/
  }
  100% {
    width: 100%;
     background: #cccccc;;
     /*height: 2px;*/
  }
}

/** Header Section Design **/
header {
    display: none;
}
#MSLogo line,#MSLogo polygon{fill:none;stroke:#8d8d8d;stroke-width:5;stroke-miterlimit:10}
.page_main{
    float: left;
    width: 100%;
}
.page_body {
    padding: 80px 0;
     float: left;
    width: 100%;
    position: relative;
    min-height:100vh;
}
.page_inner_sec {
    float: left;
    width: 100%;
}
.tags{color:var(--tags);position:absolute;bottom:0;left:40px;font-style:italic;font-size: 20px; font-weight: 400;font-family:'La Belle Aurore',cursive}
.top-tags{bottom:auto;top:20px}
.top-tags:after{content:'<body>';font-family:'La Belle Aurore',cursive;color:var(--tags);font-size: 20px; font-weight: 400;position:absolute;margin-left:2rem}
.bottom-tags{bottom:20px;top:auto}
.bottom-tags:before{content:'</body>';font-family:'La Belle Aurore',cursive;color:var(--tags);font-size: 20px; font-weight: 400;position:absolute;margin-left:2rem}
.text-zone {
    padding: 0 50px;
}
section {
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

/*section:before {
    content: '<section>';
    color: var(--tags);
    font-size: 18px;
    position: absolute;
    margin-top: -4rem;
    left: -1rem;
}
section:after {
    content: '</section>';
    color: var(--tags);
    font-size: 18px;
    position: absolute;
    left: -1rem;
    bottom: -5rem;
}*/
h1 {
   
    color: var(--white);
    font-weight: 800;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    /*left: -10px;*/
    font-size: 70px;
    line-height: 90px;
    float: left;
    width: 100%;
    /*text-shadow: -4px -2px 6px var(--textShadow);*/
    background: linear-gradient( 130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    background: -webkit-linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1:before {
    content: '<h1>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-top: -4rem;
    left: -1rem;
    font-family:'La Belle Aurore',cursive;
    text-shadow: none;
}
h1:after {
    content: '</h1>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    /*left: -1rem;
    bottom: -5rem;*/
    margin-top: 3.8rem;
    margin-left: 2rem;
    font-family:'La Belle Aurore',cursive;
    text-shadow: none;
}

h2 {
    color: #08fdd8;
    color: var(--white);
     font-weight: 800;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    /*left: -10px;*/
    font-size: 70px;
    line-height: 90px;;
    float: left;
    width: 100%;
    text-shadow: -4px -2px 6px var(--textShadow);
    font-family: 'Josefin Sans', sans-serif;
}
h2:before {
    content: '<h2>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-top: -3rem;
    left: -1rem;
    font-family:'La Belle Aurore',cursive;
    text-shadow: none;
}
h2:after {
    content: '</h2>';
    color: var(--tags);
   font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: -1rem;
    bottom: -4rem;
    font-family:'La Belle Aurore',cursive;
    text-shadow: none;
}
.sec_ttl {
    float: left;
    width: 100%;
}
.text-zone p {
    position: relative;
    margin-bottom: 1.5rem;
    float: left;
    width: 100%;
        line-height: 28px;
        font-family: 'Josefin Sans', sans-serif;
}
.text-zone p a {
    color: white;
    background: linear-gradient( 130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    background: -webkit-linear-gradient( 130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-zone p:first-of-type {
    margin-top: 20px;
}
.text-zone p:first-of-type:before {
    content: '<p>';
    color: var(--tags);
   font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-top: -1.8rem;
    left: -1rem;
    font-family:'La Belle Aurore',cursive;
        text-shadow: none;
}
.text-zone p:last-of-type:after {
    content: '</p>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left:-1rem;
    bottom: -1.8rem;
    font-family:'La Belle Aurore',cursive;
    text-shadow: none;
}

.section_full{
    min-height:100vh;
    padding:100px  0;position:relative;
    margin: 0;
    /*opacity:0;-webkit-transition:opacity .4s;-o-transition:opacity .4s;transition:opacity .4s;*/
}
.section_full .text-zone{padding-left:5rem}

.blast {opacity: 0;display: inline-block;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
/*.blast:hover {color: #6b6b6b;}*/
.blast:hover {color: var(--hoverText);}
.sec_bigText {
    color: rgba(255, 255, 255, 0.25);
    font-size: 20vh;
    position: absolute;
    top: 0;
    right: 60px;
}
.sec_wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

/** Home - Banner Sec  home_section**/
.home_section{
    padding-top: 0;
}
.home_section_logo {
    text-align: center;
    margin-bottom: 40px;
}
.home_section_logo #mainLogo {
    width: 90px;
    margin: 0 auto;
    height: 90px;
}
.home_section .text-zone .btn_design {
    margin-top: 30px;
    display: inline-block;
}
.btn_design {
    display: inline-block;
    padding: 5px 30px 8px;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    background: var(--white);
    background: transparent;
    position: relative;
    text-shadow: 0.5px 0px 0px var(--textShadow);
    font-size: 16px;
    transition: 0.4s linear;
}
.btn_design:hover {
    border-color: var(--white);
    color: var(--grayBg);
    background: var(--white);
}

/** Home - about_section **/
.about_section {
    min-height: auto;
}

/** Home - projects_section **/
.projects_section {
    min-height: auto;
}
.sec_btns {
    float: left;
    width: 100%;
    text-align: right;
}


/** Home - myDetails_section **/
.myDetails_section .myDetails_wrapper {
  width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.myDetails_section .panel {
    padding: 0;
    height: 500px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 0;
    /*max-width: calc(100vw - 17px);*/
    max-width: calc(100vw);
    width: 100%;
    flex-direction: column;
}
/*.myDetails_wrapper{
    padding: 0;
    height: 500px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    max-width: calc(100vw - 17px);
    width: 100%;
    flex-direction: column;
}*/
.projectsList_section .text-zone.panel .sec_ttl{
    /*padding: 50px;*/
    box-sizing: border-box;
}
.bg1 {
    background: #d1d1d1;
    background: var(--black);
}
.bg1 .text-zone h2,
.bg2 .text-zone h2,
.bg3 .text-zone h2 {
    text-shadow: none;
}
/*.bg2 {
    background: #d6d6d6;
    background: #040d21;
}*/
.bg3 {
    background: #dbdbdb;
    background: #1A2930;
    color: var(--white);
}
.bg4 {
    background: #e0e0e0;
    background: blueviolet;
}

/** Skill Section **/
.skill_section{
    /*color: var(--white);*/
     display: flex;
    align-items: center;}
.skill_section .text-zone h2 {
    /*text-shadow: none;*/
}
.skill_section .sec_wrapper{
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 0 50px;
    min-height: 100%;
}
.skill_section .text-zone {
    padding: 0 50px 0 0;
    width: 50%;
}
.skills_listing_Sec {
   /* float: left;
    width: 100%;*/
    display: flex;
    flex-wrap: wrap;
        padding: 20px 0;
        width: 50%;
}
.skills_listing_Sec .skill_col {
    width: 33.33%;
     padding: 10px;
     display: none;
       
}
.skill_col .skill_col_wrapper {
    position: relative;
    padding: 20px 20px 0 20px;
    /*background: #556082;*/
    background-color: #0c162d;
    transition: background-color .4s;
    float: left;
    width: 100%;
    -webkit-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.11);
    transition: 0.3s linear;
}
.skill_col .skill_box_text {
    font-family: 'La Belle Aurore',cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.38);
    font-weight: bold;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: right;
    margin-right: 0;
}
.skill_col .skill_box_dtls {
    float: left;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    line-height: 19px;
}
.skill_col .skill_col_wrapper:hover {
    background-color: #19253c;
    /*color: #00ab91;*/
}

.skill_texts {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0 50px;
    /*max-width: 500px;*/
    margin: 0 auto;
    text-align: center;
}
.skill_texts li {
    line-height: 47px;
    padding: 10px 0;
    font-size: 25px;
    font-family: 'Major Mono Display', monospace;
    display: inline-block;
     text-shadow: -4px -2px 6px var(--textShadow);
     position: relative;
}
.skill_texts li:first-of-type:before {
    content: '<tags>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-top: -1.8rem;
    left: -1rem;
    font-family: 'La Belle Aurore',cursive;
    text-shadow: none;
}
.skill_texts li:last-of-type:after {
    content: '</tags>';
    color: var(--tags);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: -1rem;
    bottom: -1.8rem;
    font-family: 'La Belle Aurore',cursive;
    text-shadow: none;
}
.skill_texts li:nth-child(even){
    font-size: 45px;
}

/** LatestWorks Section Design start **/
.latestWorks_list {
    float: left;
    width: 100%;
    padding: 100px 0 0;
}
.latestWorks_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    /*perspective: 25px;*/
}
.latestWorks_list li {
    margin-bottom: 135px;
/*     transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;*/
}
.latestWorks_list .latestWorks_box {
    display: block;
    width: 100%;
    height: 100%;
    width: 90%;
    opacity: 1;
    /*height: 480px;*/
    height: 550px;
    background-color: var(--latestWorks_boxLayer);
    position: relative;
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    margin-left: auto;
    margin-right: auto;
    background-position: 50%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .35s ease;
    z-index: 1;
    -webkit-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    -moz-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
}
.latestWorks_list .latestWorks_box:hover {
    -webkit-transform: scale(.99);
    transform: scale(.99);
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
    /*border-radius: 56% 33% 67% 44% / 76% 24% 41% 59%;*/
}
.latestWorks_list li:nth-child(odd) .latestWorks_box {
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    transform: translateX(25px);
}
.latestWorks_list li:nth-child(odd) .latestWorks_box:hover {
    -webkit-transform: scale(.99) translateX(25px);
    -moz-transform: scale(.99) translateX(25px);
    transform: scale(.99) translateX(25px);
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
}
.latestWorks_list .latestWorks_box:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: " ";
    background: var(--latestWorks_boxLayer);
    opacity: .6;
    transition: opacity .3s ease;
    z-index: 2;
    -webkit-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    -moz-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask:after {
    content: "";
    position: absolute;
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28,29,37,.9);
    background: linear-gradient(270deg,rgba(35,90,166,.9),rgba(16,27,59,.9));
    /*-webkit-transform: translateX(-100%);
    transform: translateX(-100%);*/
    -webkit-transform: translateX(0) scale(0);
    -moz-transform: translateX(0) scale(0);
    transform: translateX(0) scale(0);
    -webkit-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    -moz-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    transition: opacity .2s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) .2s;
    transition: transform .35s cubic-bezier(.694,.048,.335,1) .2s,opacity .2s;
    transition: transform .35s cubic-bezier(.694,.048,.335,1) .2s,opacity .2s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) .2s, -moz-transform .35s cubic-bezier(.694,.048,.335,1) .2s;
    z-index: 9;
}
.latestWorks_list .latestWorks_box:hover .latestWorks_box-mask:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}
.latestWorks_list .latestWorks_box .latestWorks_box-reveal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}
.latestWorks_list .latestWorks_box .latestWorks_box-reveal-mask:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    /*background-color: var(--latestWorks_boxLayer);*/
    /*background: linear-gradient(270deg,#235aa6,#101b3b);*/
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    border: 1px solid var(--black);
    -webkit-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    -moz-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    transition: -webkit-transform .4s cubic-bezier(.694,.048,.335,1) .15s;
    transition: transform .4s cubic-bezier(.694,.048,.335,1) .15s;
    transition: transform .4s cubic-bezier(.694,.048,.335,1) .15s,-webkit-transform .4s cubic-bezier(.694,.048,.335,1) .15s, -moz-transform .4s cubic-bezier(.694,.048,.335,1) .15s;
    z-index: 101;
}
.latestWorks_list .latestWorks_box:hover .latestWorks_box-reveal-mask:after {
   border: 1px solid var(--black);
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask-number {
    display: none;
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask-number {
    display: block;
    position: absolute;
    top: -40px;
    right: -20px;
    width: 265px;
    height: 198px;
    font-size: 11.5625em;
    overflow: hidden;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    color: var(--black);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    transition: opacity .3s,-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
    transition: opacity .3s,transform .45s cubic-bezier(.694,.048,.335,1);
    transition: opacity .3s,transform .45s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1),-moz-transform .45s cubic-bezier(.694,.048,.335,1);
    z-index: 90;
}
.latestWorks_list li:nth-child(even) .latestWorks_box .latestWorks_box-mask-number {
    right: auto;
    left: -20px;
}
.latestWorks_list .latestWorks_box:hover .latestWorks_box-mask-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask-back, .latestWorks_list .latestWorks_box .latestWorks_box-mask-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    color: transparent;
}
.latestWorks_list .latestWorks_box .latestWorks_box-mask-overlay:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    text-shadow: 5px 5px 11px rgb(74 74 74 / 50%);
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.latestWorks_list .latestWorks_box .latestWorks_box-mask-overlay, .latestWorks_list .latestWorks_box .latestWorks_box-mask-overlay:before {
    transition: -webkit-transform .6s cubic-bezier(.694,.048,.335,1) 0s;
    transition: -moz-transform .6s cubic-bezier(.694,.048,.335,1) 0s;
    transition: transform .6s cubic-bezier(.694,.048,.335,1) 0s;
    transition: transform .6s cubic-bezier(.694,.048,.335,1) 0s,-webkit-transform .6s cubic-bezier(.694,.048,.335,1) 0s, -moz-transform .6s cubic-bezier(.694,.048,.335,1) 0s;
}
.latestWorks_list .latestWorks_box:hover .latestWorks_box-mask-overlay, .latestWorks_list .latestWorks_box:hover .latestWorks_box-mask-overlay:before {
    transition-delay: .4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
.latestWorks_list .latestWorks_box .latestWorks_box-text-section {
    position: absolute;
    left: 90px;
    bottom: 28%;
    color: var(--white);
    z-index: 10;
    max-width: 550px;
    -webkit-transform: scale(1) translateX(0);
    -moz-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    transition: opacity .25s,-webkit-transform .45s;
    transition: transform .45s,opacity .25s;
    transition: transform .45s,opacity .25s,-webkit-transform .45s;
}
.latestWorks_list li:nth-child(even) .latestWorks_box .latestWorks_box-text-section {
    left: auto;
    text-align: right;
    right: 100px;
    bottom: 40%;
}
.latestWorks_list .latestWorks_box.is-hidden .latestWorks_box-text-section {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}
.latestWorks_list .latestWorks_box .latestWorks_box-text-section {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    -moz-ransform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    transition-delay: .4s;
}
.latestWorks_list .latestWorks_box:hover .latestWorks_box-text-section {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.latestWorks_box .h2, .latestWorks_box h2 {
    margin-bottom: 0.2652050919em;
    font-size: 1.414em;
    line-height: 1.3260254597;
}
.latestWorks_box .h5, .latestWorks_box .h6, .latestWorks_box h5, .latestWorks_box h6 {
    margin-bottom: 0.375em;
    font-size: 1em;
    line-height: 1.5;
}
.latestWorks_list .latestWorks_box .latestWorks_box-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.latestWorks_list .latestWorks_box .btn_design {
    font-family: inherit;
    background: transparent;
    padding: 0.8em 1em;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    -moz-border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    border-radius: 76% 24% 41% 59% / 56% 33% 67% 44%;
    position: relative;
    transition: border-radius 1s;
    border-color: gray;
    color: var(--white);
}
.latestWorks_list .latestWorks_box .btn_design:before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  width: 0;
  border-bottom: 1px solid var(--white);
  transition: width 1s;
}
.latestWorks_list .latestWorks_box .btn_design:hover {
  border-color: var(--white);
  -webkit-border-radius: 33% 67% 57% 43% / 33% 55% 45% 67%;
  -moz-border-radius: 33% 67% 57% 43% / 33% 55% 45% 67%;
  border-radius: 33% 67% 57% 43% / 33% 55% 45% 67%;
}
.latestWorks_list .latestWorks_box .btn_design:hover:before {
    width: calc(100% - 2em);
}
@media only screen and (min-width: 64em){
    .latestWorks_list .latestWorks_box .latestWorks_box-text-section {
        opacity: 1;
        -webkit-transform: scale(1) translateY(0);
        -moz-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        transition-delay: .4s;
    }
}

@media only screen and (min-width: 43.75em){
    .latestWorks_box .h2, .latestWorks_box h2 {
        margin-bottom: 0.1875566421em;
        font-size: 1.999396em;
        line-height: 1.1253398526;
    }
}
@media only screen and (min-width: 56.25em){
    .latestWorks_box .h2, .latestWorks_box h2 {
        margin-bottom: 0.132642604em;
        font-size: 2.827145944em;
        line-height:1.1;
    }
}


/** Background Parallax Design **/
.bg_parallax_effect{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: auto;
}
.bg_parallax_effect .layer {
    position: absolute;
    z-index: 1;
}
.bg_parallax_effect .icon1{left:-4%;top:5%;}
.bg_parallax_effect .icon2{left:90%;top:2%}
.bg_parallax_effect .icon3{left:95%;top:20%;}
.bg_parallax_effect .icon4{left:10%;top:20%}
.bg_parallax_effect .icon5{left:5%;top:30%}
.bg_parallax_effect .icon6{left:2%;top:45%; }
.bg_parallax_effect .icon7{left:14%;bottom:38%}
.bg_parallax_effect .icon8{left:88%;top:29%}
.bg_parallax_effect .icon9{left:0;top:56%;}
.bg_parallax_effect .icon10{left:90%;bottom:38%;}
.bg_parallax_effect .icon11{left:94%;top:58%;}
.bg_parallax_effect .icon12{left:0%;top:76%;}
.bg_parallax_effect .icon13{left:3%;top:31%;}
.bg_parallax_effect .icon14{left:97%;bottom:10%;}
.bg_parallax_effect .icon15{left:55%;bottom:17%;}
.bg_parallax_effect .icon16{left:3%;bottom:1%;}
.bg_parallax_effect .icon17{left:90%;bottom:3%;}
